/* 아래 import 순서는 이렇게 밑에처럼 해야 한다. css니깐 위에서 아래로 코드가 적용되는데,
보편적인 값을 맨 아래에다 두면(ex: font, reset 등등), 위의 css 파일엔 적용이 되지 않는다
그래서 보편적인 것들 font, reset, variables 들은 위에 두고, 
그 다음 공용으로 쓰이는 css들(여기서는 status-bar 같은거)를 그 다음에 두고 
그 다음 맨 마지막에는 매 page 마다 css 값이 다를테니 각페이지의 css를 배치하면 된다. */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");

@import "reset.css";
/* 기본 브라우저가 가지고 있는 margin 값등을 0으로 만드는 css 추가 
reset.css라는 css파일을 만들고 내용을 넣은 뒤, import 로 불러들였다.  
이렇게 하는 이유는 모든게 0인 상태에서 작업하는게 편하니깐  */
@import "variables.css";
/* 자주 쓰거나 나만의 속성을 쓰고 싶을 때, 파이썬마냥 변수 설정해 놓으면 편하다. 
이 때는 변수로 쓰일 스타일들을 따로 variables.css에 입력해 놓고 해당파일을 import해서 불러왔다.*/

@import "components/status-bar.css";
/* css파일을 목적에 맞게 그 부분만 만든 후 이렇게 import로 불러들이는 방법이 좋다.
너무 많은 내용을 한 css에 넣으면 보기 힘들다. */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

/* font-family(전체 페이지에 적용할 font를 지정하는 것) 추가 방법(1) 
1. font google 가서 원하는 폰트 선택하고 @import로 선택 후 문장을 복사해서 위 문장처럼 맨 위에 붙여 넣는다. 
2. 그리고 밑에 css 코드도 사이트에 있으니 붙여 넣으면 적용된다. 
/* 

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

/* font-family 추가 방법 (2) 
1. body tag에다가 font-family 속성(property)를 주면 되는데 값(value)은 vsc에서 추천하는 리스트가 막 뜬다.  
2. 그중에서 원하는 스타일 쓰면 되는데, -apple-system이 깔끔하다.
*/

.main-screen {
  padding: 0px var(--horizontal-space);
}
