/* 여기는 variables 즉 변수를 설정해 놓은 css이다. 
여기에다가 자주 쓰는 값들을 변수로 설정해 놓고 변수만 불러오면 된다.
변수 불러오는 방법은 메인css에서 변수 css파일을 import 해야 사용 가능하다.*/

:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --gray: rgba(0, 0, 0, 0.5);
}

/* 변수 만드는 방법은 우선 :root 에다가 변수 이름(위에서는 --yellow) 그리고 변수의 속성( 위에서는 컬러를 지정)을 지정하면 된다.*/
/* 모든 수직 여백을 25px로 지정함에 따라, 변수(--horizontal-space)로 지정해서 사용한다*/
