#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
  top: 0;
  position: fixed;
  z-index: 1;
}
/* position을 fixed로 해놓고 top 값을 0을 주면 맨 위로 붙는다. 이 때 붙는 값은 당연히 margin과 padding을 포함한 넓이이다.*/

#chat-screen .status-bar {
  z-index: 2;
}

/* 위에 status-bar와 alt-header 모두 fixed인데 자연스럽게 겹치게 하고 싶다. 
이 때 우선 alt-header에 background-color를 주면, alt-header와 status-bar 겹치는 공간에 alt-header가 먼저 나오게 된다.
그래서 position fixed인 값들의 순서를 정하기 위해 z-index를 사용하며, z-index 숫자가 높은 class가 먼저 나온다.
위에선, status-bar에 z-index를 2를 줘서 (원래 z-index 값 디폴트는 0이다) status-bar가 먼저 나오게 하고,
자연스럽게 그 뒤에 alt-header가 뒤에 나오게 된다. */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

/* .message-row--own .message__bubble {
  margin-left: 5px;
  order: 1;
} */

/* flex 자식들 순서 바꾸기 1 

flex의 children들은 order라는 속성을 사용할 수 있다. 말 그대로 자식들의 순서를 정할 수 있는데, 
디폴트 값은 0이고, 만약 한 자식에게 0을 초과하는 값의 order를 주면 그 자식은 순서가 밀린다. 
위에서는 message__bubble의 순서를 1로 해서 자식 순서가 뒤로 밀렸고, 
현재 왼->오 정렬이기 때문에 오른쪽으로 순서가 밀렸다.*/

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/*flex 자식들 순서 바꾸기 2

두번째로는 flex-direction을 row-reverse로 하면 된다. 이게 더 깔끔하다. 
row-reverse는 말 그대로 row 순서를 역으로 하는 방향이다 라는 뜻이다.
즉, 왼->오에서 오->왼 으로 순서를 정한다 라는 뜻이다*/

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  padding: 5px 25px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
/* 위에 reply에 transition 속성을 줬다. 사실 이거만 보면 아무런 애니메이션 효과가 없어서 이걸 왜 주나 싶지만
이렇게 부모 class에 transition 속성을 지정해 주면 앞으로 나올 자식 class나 selector를 이용한 속성에 해당 transition 속성이 
따라간다. 즉, 부모 수준에서 transition이 어떻게 발생해야 하는지 지정해 줬다고 보면 된다.*/

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 22px;
}

.reply i {
  opacity: 0.5;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-14%) translateY(-80px);
}

/* focus-within속성은 내부에 어떤 element가 focus되어 있으면 발동하는 속성이다.
여기서는 reply 내부에 input element가 클릭되어 focus되었고, 이로 인해 해당 css가 발동했다.*/

.reply:focus-within {
  transform: translateY(80px);
}
