.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 35px;
}

/* 아이콘(i)은 font-size 로도 크기를 조절할 수 있다.*/

.find-icons__icon span {
  margin-top: 15px;
}
